/* google font import */
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Macondo&display=swap");

/* css variables */
:root {
  --primary-color: #3a2620; /* dark brown */
  --secondary-color: #aa9581; /* light brown */
  --tertiary-color: #97724b; /* warm brown */
  --highlight-color: #416a8e; /* blue */
  --primary-font: "Inter", sans-serif;
  --secondary-font: "Macondo", cursive;
}

/* fonts */

body {
  font-family: var(--primary-font);
  padding-top: 58.4px; /* pushes top of header down under fixed navbar */
}

h1,
h2,
h3 {
  font-family: var(--secondary-font);
  color: var(--primary-color);
}

h1,
h2 {
  text-transform: uppercase;
}

h2 {
  margin-bottom: 2rem;
}

.sub-heading-color {
  color: var(--highlight-color);
}

.section {
  padding-top: 4rem;
}

/* buttons */
#header .btn,
#events .btn,
#fav-games .btn,
#reserve-game-form .btn,
#modal-submit-button {
  border: 3px solid var(--highlight-color);
  padding: 7px 25px;
  color: var(--highlight-color);
}

#header .btn:hover,
#events .btn:hover,
#fav-games .btn:hover,
#reserve-game-form .btn:hover,
#modal-submit-button:hover {
  background-color: var(--highlight-color);
  color: white;
}

#navbar .btn {
  border: 2px solid var(--highlight-color);
  background-color: var(--highlight-color);
  color: white;
}

#navbar .btn:hover {
  color: white;
  background-color: var(--secondary-color);
  border: 2px solid var(--secondary-color);
}

/* navbar */

#navbar {
  background-color: var(--primary-color);
}

#navbar .logo {
  width: 30px;
}

/* header */

#header .display-6 {
  font-family: var(--secondary-font);
}

/* services */

#services .card {
  margin-bottom: 1.5rem;
}

/* events */

#events .table {
  /* events table font size small enough that 
    the table doesn't overflow on xs screens. 
    Size set back to 1rem in a media query 
    for sm screens and up */
  font-size: 0.8rem;
}

.student-discount {
  background-color: var(--tertiary-color);
  font-weight: bold;
  color: white;
  display: block;
  width: 300px;
  margin: auto;
  padding: 5px 10px;
}

/* footer / contact */
#contact {
  background-color: var(--primary-color);
  color: white;
}

#contact h2 {
  color: white;
}

#contact .sub-heading-color {
  color: var(--secondary-color);
}

#contact .table-dark * {
  background-color: transparent;
}

#contact i {
  color: var(--tertiary-color);
  font-size: 1.2rem;
  margin-right: 15px;
}

#contact .social-icons a > i {
  color: var(--secondary-color);
  font-size: 1.9rem;
  margin-right: 15px;
  transition: all 0.3s ease-in-out;
}

#contact .social-icons a > i:hover {
  color: var(--highlight-color);
}

/* game library */

#new-games .card,
#fav-games .card {
  margin-bottom: 1.5rem;
  /* border removed for different visual effect, 
  and also to hide that the cards can appear slightly 
  different sizes on different screen sizes */
  border: none;
}

/* small screens and up */
@media screen and (min-width: 576px) {
  /* increase font size in events table when screen size is large enough */
  #events .table {
    font-size: 1rem;
  }
}

/* medium screen sizes and up */
@media screen and (min-width: 768px) {
  /* make all service cards the same height for consistency */
  #services .card {
    min-height: 360px;
  }
}

/* xl screen sizes */
@media screen and (min-width: 1400px) {
  /* make all service cards the same height for consistency */
  #services .card {
    min-height: 350px;
  }
}
